<div class="flex items-center justify-center mb-4 mt-4">
    <div class="bg-white w-[90%] max-w-[800px] h-[500px]  shadow-lg flex overflow-hidden">
      <!-- Left Section -->
      <div class="w-2/5 bg-blue-500 text-white flex flex-col justify-center items-center">
         <img src="../../../assets/login_slide.png" style="height: 100%;" alt="">
      </div>
  
      <!-- Divider -->
      <div class="w-[2px] bg-gray-300"></div>
  
      <!-- Right Section -->
      <div style="margin-top: -200px;" class="w-3/5 flex flex-col justify-center p-6">
        <input type="text" placeholder="Enter Email/Mobile number" class="mb-4 p-2 border border-gray-300 rounded w-full">
  
        <p class="text-xs text-gray-600 mb-4">
          By continuing, you agree to Flipkart's 
          <a href="#" class="text-blue-500">Terms of Use</a> and 
          <a href="#" class="text-blue-500">Privacy Policy</a>.
        </p>
  
        <button class="p-2" >Request OTP</button>
  
        <p class="text-sm text-center text-gray-600 mt-4">
          New to Flipkart? 
          <a href="#" class="text-blue-500">Create an account</a>
        </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  